* {
    box-sizing: border-box; /* Garante que padding e bordas não aumentem o tamanho do elemento */
}

html, body {
    height: 100%; /* Faz com que a altura ocupe toda a janela */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove qualquer padding extra */
    /*overflow: hidden; /* Impede que a barra de rolagem apareça */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    background-image: url(img/green-haloween.jpg);
    background-size: cover;
}

@font-face {
    font-family: 'Scary';
    src: url('fonts/ScaryHalloweenFont.ttf') format('truetype');
}

.tituloMenor {
    font-size: 14px;
    margin: 0;
}

#titulo1 {
    font-size: 10vh;
    font-family: 'Scary';
    margin: 0;
}

a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Scary';
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(126, 252, 0, 0.321);
    box-shadow: 0 0 20px 10px rgba(126, 252, 0, 0.4); /* Cria a borda suave com efeito de luz verde */
    background-size: cover;
}

.botao {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    color: black;
    background-color: lawngreen;
    border: none;
}

.botao:hover {
    background-color: #ff6500;
    color: #fde800;
    
    text-shadow: 0 0 10px #fde800;
}


